<section class="container">
    <form class="search-form" id="search-form">
   <div class="search-form__box">
       <input  type="text" name="query" autocomplete="off" placeholder="Search images..." />
   
 <button class="search-form__button" type="submit">Search</button>
   </div> 
    


 <div class="gallery">
    <!-- Карточки изображений -->
</div>
</form>
<button type="button" class="load-more">Load more</button>
</section>

